@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
    margin-top: 80px;

    .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .listItem {
        display: flex;
        align-items: center;
        color: $soft-color;
        gap: 10px;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
            background-color: $soft-bg;
        }
    }

    .icon-item {
        font-size: 20px;
    }

    .listTitle {
        padding: 5px;
    }
}